<template>
  <section class="message is-light">
    <header class="message-header" v-if="title">
      {{ title }}
    </header>
    <div class="message-body">
      <slot />
    </div>
  </section>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: '',
    },
  },
};
</script>

<style scoped>
.message-header {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 1.3rem;
  line-height: 1;
  padding: .5em .75em;
}
</style>
