<template>
  <form v-on:submit.prevent="submit">
    <div class="notification is-danger" v-if="error !== null">
      <button class="delete" v-on:click="error = null"></button>
      {{ error }}
    </div>
    <div class="field">
      <label class="label">Nom d'utilisateur</label>
      <div class="control">
        <input class="input" type="text" placeholder="Nom d'utilisateur" v-model="username" />
      </div>
    </div>
    <div class="field">
      <label class="label">Mot de passe</label>
      <div class="control">
        <input class="input" type="password" placeholder="Mot de passe" v-model="password" />
      </div>
    </div>
    <div class="buttons is-centered">
      <button
        type="submit"
        class="button is-primary"
        :class="{'is-loading': loading}"
        :disabled="!formValid"
      >
        Se connecter
      </button>
    </div>
  </form>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  data: () => ({
    username: '',
    password: '',
    loading: false,
    error: null,
  }),
  methods: {
    ...mapActions('auth', ['login']),
    submit() {
      this.loading = true;
      this.login({
        username: this.username.trim(),
        password: this.password,
      }).then(() => {
        this.$emit('logon');
      }).catch((error) => {
        this.error = error;
      }).then(() => {
        this.loading = false;
      });
    },
  },
  computed: {
    formValid() {
      return this.username.trim().length > 0 && this.password.length > 0;
    },
  },
};
</script>
